{% extends 'base_front.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="options-container">
    <h2 class="options-title">Choisissez</h2>
    <div class="options">
        <a href="{{ path('app_check_email') }}" class="option-button">Changer mon mot de passe</a>
        <a href="{{ path('app_check_email') }}" class="option-button">Mot de passe oublié</a>
    </div>
</div>
{% endblock %}