<div class="form-content">
    {{ form_start(formGiftUrl, {'class': 'gift-form'}) }}
        {{ form_widget(formGiftUrl) }}
        <button class="btn action">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(formGift) }}
</div>