{% extends 'base_front.html.twig' %}

{% block title %}Activation par mail{% endblock %}

{% block body %}

<section class="registration-success">
    <div class="message">
        <h2>Inscription réussie</h2>
        <p>Un e-mail a été envoyé à votre adresse e-mail enregistrée. Veuillez vérifier votre boîte de réception pour valider votre e-mail.</p>
        <p>Si vous ne recevez pas le mail dans quelques minutes, veuillez vérifier votre dossier de spam également.</p>
    </div>
</section>

{% endblock %}