<div class="container">
    <div class="header">
        <h2 class="title">Confirmation de réservation</h1>
    </div>
    <div class="content">
        <p>{{gift.firstname}} a réservé le cadeau {{gift.name}} pour votre liste {{list}} sur <strong>Gift Management</strong>:</p>
    </div>
</div>
