<div class="container">
    <div class="header">
        <h2 class="title">Annulation de réservation</h1>
    </div>
    <div class="content">
        <p>{{nom}} {{prenom}} a annulé sa réservation pour le cadeau {{gift}} de votre liste {{list}} sur <strong>Gift Management</strong>:</p>
    </div>
</div>
