{% extends 'base_back.html.twig' %}

{% block title %} Créer un utilisateur {% endblock %}
{% block pageTitle %} Créer un utilisateur {% endblock %}

{% block body %}
    <div class="flex md:flex-row flex-col w-full md:items-center md:justify-between flex-nowrap mb-20">
        <div>
            <h1 class="text-3xl font-bold md:mb-0 mb-4">Créer un utilisateur</h1>
        </div>

        <div class="flex">
            <a href="{{ path('back_app_user_index') }}" class="ml-2 px-2 py-1 rounded-md bg-blue-500 text-sky-100 hover:bg-blue-700"><i class="fa-solid fa-arrow-left-long mr-2"></i> Retour à la liste des utilisateurs</a>
        </div>
    </div>
    <div class="w-full flex justify-center">
        <div class="mt-10 w-full sm:mt-0">
            <div class="xl:grid xl:grid-cols-3 xl:gap-6">
                <div class="xl:col-span-1">
                    <div class="px-4 sm:px-0">
                        <h3 class="text-lg font-medium leading-6 text-gray-900">Informations personnelles</h3>
                        <p class="mt-1 text-sm text-gray-600">Lors de la création d'un utilisateur, une fois la validation faite, la personne recevra un mail afin d'initialiser son mot de passe.</p>
                    </div>
                </div>
                <div class="mt-5 xl:col-span-2 xl:mt-0">
                    {{ include('back/user/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
